@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

body {

    font-family: 'Allerta Stencil', sans-serif;   

}


h1 {

    font-family: 'Monoton', cursive;

}

nav > a {

    color: #010101;
    text-decoration: #010101;
    padding: 6px 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;

}


nav > a:hover {

    background-color: #DF32D6;
    color: #aabbdd;
    text-decoration: underline;
}

nav > a:when {

    background-color: white;

}

nav {

    background-color: #7f5af0;
    padding: 8px 10px;

}

body {

background-color: #16161a;
color: white;

}

