@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

body {

    font-family: 'Allerta Stencil', sans-serif;   

}


h1 {

    font-family: 'Monoton', cursive;

}

nav > a {

    color: #010101;
    text-decoration: #010101;
    padding: 6px 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;

}


nav > a:hover {

    background-color: #DF32D6;
    color: #aabbdd;
    text-decoration: underline;
}


nav {

    position: sticky;
    top:0px;
    background-color: #7f5af0;
    padding: 8px 10px;

}

body {

    background-color: #16161a;
    color: white;
}

.main_text  {

    font-size: 16.35px;
    padding:6px;
    
     }
    
#lists {
    
    color:blueviolet;
    padding: 10px 24px 10px 24px;
        
    
    }

.center {

text-align: center;

}
    

.spacing {

    padding:20px 0px 20px 0px;


}


input,textarea {

padding: 6px 13px;
background-color:white;
border: 2px solid;
border-radius: 7px;

}


input:focus ,textarea:focus {


background-color: #cecff8;


}


input[type=submit],input[type=reset] {

font-size:medium;
background-color: white;
border-radius: 6px;

}

input[type=submit]:hover,input[type=reset]:hover {

background-color: #b24bf3;

}

#github {

font-size:50px;
color:grey;

}

#email {

font-size:50px;
color:cornflowerblue;
text-decoration: none;

}

#linkedin {

color: lightblue;
font-size:50px;

}

#phone {
    
font-size:50px;
color:silver;
text-decoration:none;

}