@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

body {

    max-width: 900px;
    background-color: #000713;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='325' height='325' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23271656' stroke-width='2.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234A3B48'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Allerta Stencil', sans-serif;   
    margin-left: auto;
    margin-right: auto;

}


h1 {

    font-family: 'Monoton', cursive;

}

nav > a {

    color: #010101;
    text-decoration: #010101;
    padding: 6px 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;

}


nav > a:hover {

    background-color: #DF32D6;
    color: #aabbdd;
    text-decoration: underline;
}

nav > a:active {


background-color: aqua;


}


nav {

    position: sticky;
    top:0px;
    background-color: #7f5af0;
    padding: 8px 10px;

}

body {

    background-color: #16161a;
    color: white;
}

.main_text  {
    
    text-align: center;
    font-size: 16.35px;
    padding:6px;
    
     }
    

.right {


text-align: right;



}


#lists {
    
    color:mediumslateblue;
    padding: 10px 24px 10px 24px;
        
    
    }

.center {

text-align: center;

}
    
#placeholder-size {


height: 40%;
width: 40%;
float: right;

}


.spacing {

    padding:20px 0px 20px 0px;


}


input,textarea {

padding: 6px 13px;
background-color:white;
border: 2px solid;
border-radius: 7px;

}


input:focus ,textarea:focus {


background-color: #cecff8;


}


input[type=submit],input[type=reset] {

font-size:medium;
background-color: white;
border-radius: 6px;

}

input[type=submit]:hover,input[type=reset]:hover {

background-color: #b24bf3;

}

#github {

text-decoration: none;
padding: 5px 9px 5px 6px;
font-size:50px;
color:grey;

}


#linkedin {

padding: 5px 9px 5px 9px;
color: lightblue;
font-size:50px;
text-decoration: none;

}

#gmail {

text-decoration: none;
height: 40px;
width: 42px;


}

#phone {

width:40px;
height:40px;
text-decoration: none;



}

#email {

text-decoration: none;


}

#mad {

height: 80%;
width: 85%;


}

#floorplan {


height: 80%;
width: 80%;


}

#lottery {


height: 70%;
width: 80%;


}


a  {

color: aquamarine;


}

#tip {


width: 80%;

    
}



.active {


background-color: #b1a6e0;


}





@media screen and (max-width: 480px) {

body {

    font-size: 20px;

}    

#placeholder-size {

float: none;
width: 100%;
height: 100%;


}

}